.icon {
  width: 1em;
  height: 1.18em;
  fill: currentColor;
}
.icon-bell {
  width: 1em;
  height: 1.18em;
}
.icon-biotest {
  width: 0.73em;
  height: 1em;
}
.icon-arrow-left {
  width: 0.59em;
  height: 1em;
}
.icon-basket {
  width: 0.66em;
  height: 1em;
}
.icon-table {
  fill: none;
  stroke: currentColor;
}
